= form_for @output do |f|

  %p
    タイトルを入力してください
    = f.text_area :title, value: @output.title

  %p
    点数を入力してください
    = f.number_field :score, value: @output.score

  %p
    説明を入力してください
    = f.text_area :explanation, class: 'abc', value: @output.explanation

  %p
    学びを入力してください
    = f.text_area :learn, value: @output.learn

  %p
    好きなことを書こう
    = f.text_area :remark, value: @output.remark

  %p
    画像を追加しよう
    = f.label :image
    = f.file_field :image

  = f.submit '登録する'