= form_for @output do |f|

  %h1.new_output
    アウトプットしよう！！！

  .new_genres
    .new_genres_box
      %p.new_genres_box-genre
        ジャンル:
        = @genre.name
        = f.hidden_field :genre_id, value: @genre.id
      %p.new_genres_box-subgenre
        サブジャンル:
        = @subgenre.name
        = f.hidden_field :subgenre_id, value: @subgenre.id

  %p
    タイトルを入力しよう：
    = f.text_field :title, class: "output_new_title"

  %p
    点数を入力してください：
    = f.number_field :score

  %p
    説明を入力してください
    %br
      = f.text_area :explanation, class: "output_new_area"

  %p
    学びを入力してください
    %br
      = f.text_area :learn, class: "output_new_area"

  %p
    好きなことを書こう
    %br
      = f.text_area :remark, class: "output_new_area"

  %p
    背景画像を追加しよう
    = f.label :image
    = f.file_field :image

  = f.submit 'アウトプット', class: "output_new_submit"